#img1{
    height: 100%;
    width: 100%;
}
.icon{
    color: rgb(71, 70, 70);
}
#cardimg{
    height: 280px;
}
#cardimg2{
    height: 500px;
}
#img5{
    height: 400px;
}
#img6{
    color: rgb(60, 60, 60);
    
}